@CHARSET "UTF-8";

body {
	
}

table {
	width: 570px;
	border-collapse: collapse;
}

th,td {
	border-top: 1px solid #bcbcbc;
	border-bottom: 1px solid #bcbcbc;
	padding: 5px 10px;
}

#c1 {
	background-color: #e6e6e6;
}

#register_top1 {
	font-size: 20px;
	font-weight: bold;
	border: 2px solid #bcbcbc;
}

#register_top2 {
	border-top: 2px solid #bcbcbc;
}

#register_bottom1 {
	border-bottom: 2px solid #bcbcbc;
}

input.button {
	border: #837222
}

A:link {
	text-decoration: none;
	color: #696969
}

A:hover {
	text-decoration: yes;
	color: #66CCFF
}

A:visited {
	text-decoration: none;
	color: #330066
}