<?xml version="1.0" encoding="UTF-8"?>
<Context>
	<WatchedResource>
		WEB-INF/web.xml
	</WatchedResource>
	<!-- 데이터베이스 커넥션 풀(DataBase Connection Pool)
	DBCP -->
	<Resource name="jdbc/OracleDB" auth="Container"
		driverClassName="oracle.jdbc.driver.OracleDriver" 
		maxActive="500" maxIdle="100"
		maxWait="-1" password="77914444" 
		type="javax.sql.DataSource"
		url="jdbc:oracle:thin:@choyc82.iptime.org:1521:xe" username="java" />

</Context>