<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bbs">

	<insert id="insertBoard" parameterType="com.sp.bbs.Board">
		insert into bbs(num,
		name, subject, pwd, content, ipAddr, hitCount)
		values (seq_bbs.NEXTVAL,
		#{name}, #{subject}, #{pwd}, #{content}, #{ipAddr},
		0)
	</insert>


	<!-- 반복적인 쿼리를 사용할 때 유용 -->
	<sql id="where-list">
		<if test="searchKey== 'name' ">
			name =#{searchValue}
		</if>
		<if test="searchKey== 'subject' ">
			subject LIKE '%' || #{searchValue} || '%'
		</if>
		<if test="searchKey== 'content' ">
			content LIKE '%' || #{searchValue} || '%'
		</if>
		<if test="searchKey== 'created' ">
			TO_CHAR(created, 'YYYY-MM-DD')=#{searchValue}
		</if>
	</sql>

	<!-- 개수 : where 태크는 조건이 있는 경우에만 WHERE절이 추가됨 -->
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(count(*),0) FROM bbs
		<where>
			<if test="searchValue != null and searchValue != '' ">
				<include refid="where-list" />
			</if>
		</where>
	</select>

	<select id="listBoard" parameterType="map" resultType="com.sp.bbs.Board">
		select * from (
		select ROW_NUMBER() over (order by num desc)rnum, num,
		name, subject, TO_CHAR(created, 'YYYY-MM-DD') created, hitCount
		from
		BBS
		<where>
			<if test="searchValue != null and searchValue != '' ">
				<include refid="where-list" />
			</if>
		</where>


		<!-- CDATA : 부등호와 같은 거 처리할 때 태그 인식하기 위해서 -->				
		<![CDATA[	
			) where rnum>=#{start} and rnum<=#{end} order by num desc
		]]>
	</select>

	<!-- 글보기 -->
	<select id="readBoard" resultType="com.sp.bbs.Board"
		parameterType="Integer">
		select
		num,
		name,
		pwd,
		subject,
		content,
		ipAddr,
		created,
		hitCount
		from
		BBS where num =
		#{num}
	</select>

	<!-- 조회수 증가 -->
	<update id="updateHitCount" parameterType="Integer">
		update bbs set
		hitCount = hitCount +1 where num = #{num}
	</update>


	<!-- 이전글 -->
	<select id="preReadBoard" parameterType="map" resultType="com.sp.bbs.Board">
		select tb.* from(
		select num, subject from bbs
		<where>
			<if test="searchValue != null and searchValue != '' ">
				<include refid="where-list" />
			</if>
			<![CDATA[
			AND (num > #{num}) 
			]]>
		</where>
		order by num asc
		)tb where rownum=1
	</select>

	<!-- 다음글 -->
	<select id="nextReadBoard" parameterType="map" resultType="com.sp.bbs.Board">

		select tb.* from(
		select num, subject from bbs
		<where>
			<if test="searchValue != null and searchValue != '' ">
				<include refid="where-list" />
			</if>
			<![CDATA[
			AND (num < #{num}) 
			]]>
		</where>
		order by num desc
		)tb where rownum=1
	</select>

	<!-- 수정 -->
	<update id="updateBoard" parameterType="com.sp.bbs.Board">

		update bbs set
		name=#{name},
		subject=#{subject},content=#{content},pwd=#{pwd}
		where
		num=#{num}

	</update>

	<!-- 삭제 -->
	<delete id="deleteBoard" parameterType="Integer" >
		delete from bbs where
		num=#{num}
	</delete>
</mapper>





